
@model ProductVM
@{
    Layout = "_productLayout";

}
<div class="container p-3">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Insert" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageNameFile" class="control-label"></label>
                <input asp-for="ImageNameFile" class="form-control" />
                <span asp-validation-for="ImageNameFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID"></label>
                <select asp-for="CategoryID"  class="form form-control">
                    @foreach(var item in Model.Categories){
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryID"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandID"></label>
                <select asp-for="BrandID"  class="form form-control">
                    @foreach (var item in Model.Brands)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="BrandID"></span>
            </div>


            @*<div class="form-group">
            <label asp-for="RoleName"></label>
            <select asp-for="RoleName" asp-items="selectionitemofdepartement" class="form form-control"></select>
            <span asp-validation-for="RoleName"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>