@model BrandVM

@{
    ViewData["Title"] = "BrandEdit";
    Layout = "_AdminLayout";
}


<h2>Brand</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BrandEdit">
            <div asp-validation-summary="All" class="text-danger"></div>
            @* <div class="form-group">
            <label asp-for="ID" class="control-label"></label>
            <input asp-for="ID" class="form-control" />
            <span asp-validation-for="ID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="BrandIndex">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
