@model IEnumerable<WebApplication1.ViewModel.RoleVM>

@{
    ViewData["Title"] = "RoleIndex";
    Layout = "_AdminLayout";

}

<h2>Roles</h2>

<p>
    <a asp-action="New">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr >
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
        </tr>
}
    </tbody>
</table>


